.header img {
  position: relative;
  float: left;
  top: 100px;
  width: 50px;
  height: 50px;
}


.header h1 {
  position: relative;
  top: 110px;
  left: 10px;
}

body {

background-image: url("https://images.unsplash.com/photo-1526344966-89049886b28d?ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80");
background-repeat: no-repeat;
}

h1 {


}

p {

text-align: justify;
position: relative;
top: 110px;

}

div.b {
  position: relative;
  top: 335px;
  left: 10px;
}
